body{
    margin: 0;
}

div{
    box-sizing: border-box;
}

.main-background{
    width: 80vw;
    margin: auto;
}



.card-background{
    width: 80%;
    margin: auto;
    border: 0.1px #eee solid;
    border-radius: 5px;
}

.img img{
    width: 100%;
    border-radius: 5px;
}

.content{
    padding: 10px;
}