.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
}

.left-menu{
    width: 20%;
    height: 500px;
    background-color: cornflowerblue;
    float: left;
}

.content{
    width: 80%;
    height: 500px;
    background-color: lightcoral;
    float: left;
}

.footer{
    width: 100%;
    height: 80px;
    background-color: gray;
    clear: both;
}

.container1{
    width: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.left{
    width: 80%;
    height: 140px;
    background-color: aquamarine;
    float: left;
}

.right{
    width: 20%;
    height: 140px;
    background-color: cornflowerblue;
    float: left;
}

.thumbnail{
    width: 100%;
}

.user-info{
    width: 100%;
    height: 35%;
    background-color: cornflowerblue;
}

.article{
    width: 100%;
    height: 65%;
    background-color: thistle;
}