p{
    margin: 0px;
}

.main-background{
    width: 800px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    background-image: url(../img/shoebackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slogan{
    color: white;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    padding: 0.1px;
}

.content{
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.btn{
    width: 120px;
    height: 40px;
    margin-top: 55px;
    border-radius: 1px;
    border: none;
    color: rgb(87, 87, 87);
    font-size: 14px;
}